// Core
@import 'core/settings';
@import 'core/variables';

// Layouts
@import 'layouts/header';
@import 'layouts/main';
@import 'layouts/footer';


// General styles
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.wrapper {
	padding: 0 30px;
}
