<header class="page__header">
    <div class="wrapper">
        <div class="header__content">
            <h1 class="header__logo">
                <img class="header__logo-image" src="../../assets/images/logo-adalab-80px.png" alt="Logo Adalab">
            </h1>
            <div class="header__menu">
                <nav class="header__menu__nav">
                    <ul class="header__menu__list">
                        <li class="header__menu__list-item">
                            <a href="" class="header__menu__list-item-link">Blog</a>
                        </li>
                        <li class="header__menu__list-item">
                            <a href="" class="header__menu__list-item-link">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
